body{
    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

nav {
    list-style-type: none;
    display:inline-block;
}
