<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Featured Community Creator Builds</title>
</head>
<body>

<h1>Otzdarva's Creator Builds</h1>
<p>On this page, you'll find some awesome Dead by Daylight builds created by the popular content creator Otzdarva. Each build is accompanied by a video from Otzdarva's YouTube channel, where he explains the details of the build and demonstrates how it can be used effectively in the game.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/y4JqfW2izBs" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ZXMcb-PM_TE" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/bzbiT0NO-1w" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/VmCnioRVizY" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</body>
</html>