<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buddy By Daylight</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" >
</head>
<body>

<div class="container-fluid text-center">
<h1>Welcome to Buddy By Daylight</h1>

<p>Buddy By Daylight is a fan-made website dedicated to the
    popular survival horror game Dead by Daylight. Here, you can find
    information about the killers and survivors.</p>

<p>Whether you're a seasoned player or just starting out, we hope
    you'll find the information and resources on our site helpful in
    your journey to become a formidable foe in The Fog</p>

<!--    Admin functionality-->
<a class="h2" th:href="@{/users}">Manage Users Here!</a>

<h1>Survivors</h1>

<h1>Creator Builds</h1>

<h1>Shrine of Secrets</h1>

</div>

</body>
</html>