<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buddy By Daylight</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{../static/assets/css/style.css}">
</head>
<!--nav bar -->
<header class="bg-light bg-opacity-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <a class="h2 text-decoration-none text-dark" href="/index">Buddy By Daylight</a>
            </div>
            <div class="col-md-9">
                <nav>
                    <ul class="nav justify-content-end list-unstyled" >
                        <li class="nav-item"><a class="nav-link" th:href="@{/survivors}">Survivors</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/killers}">Killers</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/shrine}">Shrine of Secrets</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/creatorBuilds}">Community Builds</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<body>
<div class="container-fluid text-center">

    <h1 class="display-4 my-5" id="welcome-message"></h1>

    <script th:inline="javascript">
        let welcomeMessage = "Welcome to Buddy By Daylight";
        let welcomeEl = document.getElementById("welcome-message");
        welcomeEl.style.color = "white";

        function typeMessage(message, element, delay) {
            for (let i = 0; i < message.length; i++) {
                (function(index) {
                    setTimeout(function() {
                        element.innerHTML += message[index];
                    }, delay * index);
                })(i);
            }
        }

        typeMessage(welcomeMessage, welcomeEl, 100);
    </script>


    <a class="h2 mb-5" th:href="@{/users}">Manage Users Here!</a>
    <div class="row justify-content-center mb-5 ">
        <div class="col-md-12">
            <p class="lead text-white">Buddy By Daylight is a fan-made website dedicated to the
                popular survival horror game Dead by Daylight. Here, you can find
                information about the killers and survivors.</p>
        </div>
        <div class="col-md-12">
            <p class="lead text-white">Whether you're a seasoned player or just starting out, we hope
                you'll find the information and resources on our site helpful in
                your journey to become a formidable foe in The Fog.</p>
        </div>
    </div>

    <div class="container bg-white bg-opacity-75 rounded">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center my-5"><a th:href="@{/survivors}" class="text-decoration-none text-dark">Survivors</a></h1>
            </div>
            <div class="col-md-6">
                <h1 class="text-center my-5"><a th:href="@{/killers}" class="text-decoration-none text-dark">Killers</a></h1>
            </div>
            <div class="col-md-6">
                <h1 class="text-center my-5"><a th:href="@{/creatorBuilds}" class="text-decoration-none text-dark">Creator Builds</a></h1>
            </div>
            <div class="col-md-6">
                <h1 class="text-center my-5"><a th:href="@{/shrine}" class="text-decoration-none text-dark">Shrine of Secrets</a></h1>
            </div>
        </div>
    </div>
</body>
    <footer>
        <p class="lead text-white">&copy; Buddy By Daylight 2023</p>
    </footer>
</html>

