<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shrine of Secrets</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{../static/assets/css/style.css}">
</head>
<body>
<!--Nav Bar-->
<header>
    <h1>Buddy By Daylight</h1>
    <nav>
        <ul>
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/survivors}">Survivors</a></li>
            <li><a th:href="@{/killers}">Killers</a></li>
            <li><a th:href="@{/creatorBuilds}">Community Builds</a></li>
        </ul>
    </nav>
</header>

<h1>Shrine of Secrets</h1>

<p>THIS PAGE IS UNDER CONSTRUCTION PLEASE LEAVE THANKS</p>
</body>
</html>