<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Survivors</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{../static/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../static/assets/css/style.css}">
</head>
<body>
<!--nav bar -->
<header class="bg-light bg-opacity-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <a class="h2 text-decoration-none text-dark" href="/index">Buddy By Daylight</a>
            </div>
            <div class="col-md-9">
                <nav>
                    <ul class="nav justify-content-end list-unstyled" >
                        <li class="nav-item"><a class="nav-link" th:href="@{/survivors}">Survivors</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/killers}">Killers</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/shrine}">Shrine of Secrets</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/creatorBuilds}">Community Builds</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid text-center">
    <!-- Page header -->
    <div><h2 class="bg-white bg-opacity-75">Survivors Table</h2></div>
    <!-- Button to add a new survivor -->
    <div class="m-2">
        <a class="h3 btn btn-primary " th:href="@{/survivors/new}">Add New Survivor!</a>
    </div>

    <!-- Success message if a survivor was added/edited/deleted -->
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <!-- Table to display survivors -->
    <div>
        <table class="table table-bordered table-striped table-hover bg-white bg-opacity-75">
            <!-- Table header -->
            <thead class="bg-dark text-white">
            <tr>
                <th>ID</th>
                <th>Survivor Portrait</th>
                <th>Survivor Name</th>
                <th>Survivor's Description</th>
                <th>Survivor's Perks</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- Rows to display data for each survivor in the list -->
            <th:block th:each="survivors : ${listSurvivors}">
                <tr>
                    <td>[[${survivors.survId}]]</td>
                    <td><img class="img-thumbnail" th:src="${survivors.survImg}" /></td>
                    <td>[[${survivors.survName}]]</td>
                    <td>[[${survivors.survDesc}]]</td>
                    <td>[[${survivors.survPerk}]]</td>
                    <!-- Links to edit or delete the current survivor -->
                    <td>
                        <a class="h4 me-4" th:href="@{'/survivors/edit/' + ${survivors.survId}}">Edit</a>
                        <a class="h4" th:href="@{'/survivors/delete/' + ${survivors.survId}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>