<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Survivors</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{../static/assets/css/style.css}">
</head>
<body>
<!--nav bar -->
<header>
    <h1>Buddy By Daylight</h1>
    <nav>
        <ul>
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/killers}">Killers</a></li>
            <li><a th:href="@{/shrine}">Shrine of Secrets</a></li>
            <li><a th:href="@{/creatorBuilds}">Community Builds</a></li>
        </ul>
    </nav>
</header>
<div class="container-fluid text-center">
    <div><h2>Survivors Table</h2></div>
    <div class="m-2">
        <a class="h3 " th:href="@{/survivors/new}">Add New Survivor!</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="bg-dark text-white">
            <!--            Table column names-->

            <tr>
                <th>ID</th>
                <th>Survivor Portrait</th>
                <th>Survivor Name</th>
                <th>Survivor's Description</th>
                <th>Survivor's Perks</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--Data that is inserted into the table according to column names-->

            <th:block th:each="survivors : ${listSurvivors}">

                <tr>
                    <td>[[${survivors.survId}]]</td>
                    <td><img th:src="${survivors.survImg}" /></td>
                    <td>[[${survivors.survName}]]</td>
                    <td>[[${survivors.survDesc}]]</td>
                    <td>[[${survivors.survPerk}]]</td>
                    <td>
                        <a class="h4 me-4" th:href="@{'/survivors/edit/' + ${survivors.survId}}">Edit</a>
                        <a class="h4" th:href="@{'/survivors/delete/' + ${survivors.survId}}">Delete</a>
                    </td>
                </tr>

            </th:block>

            </tbody>
        </table>

    </div>
</div>
</body>
</html>