<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{../static/assets/css/style.css}">
</head>
<body>
<!--nav bar -->
<header class="bg-light bg-opacity-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <a class="h2 text-decoration-none text-dark" href="/index">Buddy By Daylight</a>
            </div>
            <div class="col-md-9">
                <nav>
                    <ul class="nav justify-content-end list-unstyled" >
                        <li class="nav-item"><a class="nav-link" th:href="@{/survivors}">Survivors</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/killers}">Killers</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/shrine}">Shrine of Secrets</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/creatorBuilds}">Community Builds</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

    <div class="container-fluid text-center">
        <div><h2 class="text-white">Manage Users</h2></div>
        <div class="m-2">
            <a class="h3 " th:href="@{/users/new}">Add New User</a>
        </div>

        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div>
            <table class="table table-bordered bg-light bg-opacity-75">
                <thead class="bg-dark text-white">
                <!--            Table column names-->
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Username</th>
                    <th>Agreed to TOS</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!--Data that is inserted into the table according to column names-->

                    <th:block th:each="user : ${listUsers}">

                        <tr>
                            <td>[[${user.id}]]</td>
                            <td>[[${user.email}]]</td>
                            <td>[[${user.password}]]</td>
                            <td>[[${user.userName}]]</td>
                            <td>[[${user.enabled}]]</td>
                            <td>
                                <a class="h4 me-4" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                                <a class="h4" th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
                            </td>
                        </tr>

                    </th:block>

                </tbody>
            </table>

        </div>
    </div>
</body>
</html>